html{
    font-size: 20px;
}

body {
    text-align: center;
}

.googlefonts {
    border-bottom: 3px solid rgb(115, 115, 114);
    text-shadow: 1px 1px 2px  gray;
    letter-spacing: 1.2em;
    font-size: 2em;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#parent p {
    font-weight: bold;
}

.m {
    color: skyblue;
}

.p {
    color: rgb(255, 192, 203); 
}

.green {
    color: skyblue;
}

.orange {
    color: rgb(255, 192, 203);
}

